<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Sacramento&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Crimson+Text&family=Sacramento&display=swap" rel="stylesheet">
<link rel="icon" href="/sources/blue.ico" type="images/x-icon">

<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/loader.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>  
    <script>  
        $(window).on('load', function () {  
            $(".container").fadeOut("slow");  
       });  
    </script> 
<script src="/scripts/base.js" defer></script>