<nav>
    <div class="logo">
<a href="/"><img src="/sources/logo.jpg" alt="source not available" id="logo"></a>
    </div>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/contact">Contact</a></li>
        
    </ul>



</nav>
<aside class="toggleBtn">

    <div class="toggle-switch"><img src="/sources/menu.png" alt="source not available" id="menu"></div>

 <div class="navitems">
    
     <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/contact">Contact</a></li>
     
        </ul>
 </div>

</aside>