<%- include('common/header',{title:'About'})%>

<link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/timeline.css">
    <link rel="stylesheet" href="/styles/about.css">
    
    </head>

    <body>
        <%- include('common/loader')%> 
        <%-include('common/navigation')%>

        <h1>About</h1>
            
            <main>
     <%-include('common/profile')%>
                        <section class="introduction">
                            <div class="intro">
                                <p id="name">I'm Venky</p>
                                <p class="spec">Full Stack Web Developer Passionate about Crafting the Web
                                    I'm a web developer driven by a love for clean code and beautiful design. With a knack
                                    for problem-solving and a focus on user-friendly experiences, I create websites and web
                                    applications that make a difference.
                                </p>
                            </div>
                            <a href="/sources/RESUME.pdf" class="download-resume" Download>Download Resume</a>
                        </section>
               
            </main>


            <!--------Main Section------------->
            <div class="main-section">


                <!-- ----------Time line Section------------->
                <div class="timeline-heading">
                    <h1>TimeLine</h1>
                </div>
                <section class="timeline-section">
                    <div class="timeline-items">
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2018</div>
                            <div class="timeline-content">
                                <h3>SSC </h3>
                                <p>ZPHS Talapula ,AP </p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2020</div>
                            <div class="timeline-content">
                                <h3>Intermedite/MPC</h3>
                                <p>Bhashyam Junior College,tirupati</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2020</div>
                            <div class="timeline-content">
                                <h3>started B.tech</h3>
                                <p>JNTUA Collge of Engineering , Kalikiri</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">20121</div>
                            <div class="timeline-content">
                                <h3>HTML & CSS</h3>
                                <p>Think Champ Pvt.Ltd</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2022</div>
                            <div class="timeline-content">
                                <h3>Cybersecurity</h3>
                                <p>Think Champ Pvt.Ltd</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2023/april</div>
                            <div class="timeline-content">
                                <h3>Python</h3>
                                <p>Think Champ Pvt.Ltd </p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2023/may</div>
                            <div class="timeline-content">
                                <h3>JavaScript</h3>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2023/july</div>
                            <div class="timeline-content">
                                <h3>NodeJs/ExpressJs</h3>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2023/aug</div>
                            <div class="timeline-content">
                                <h3>Mysql</h3>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-dot"></div>
                            <div class="timeline-date">2023/Sep</div>
                            <div class="timeline-content">
                                <h3>MongoDB</h3>
                            </div>
                        </div>


                    </div>
                </section> 


                <!-------- Skills Section --------------->

                <section class="skills-section">
                    <div class="heading">
                        <h1 id="skills-heading">Skills</h1>
                    </div>
                    <div class="about-skills">
                        proficient in HTML, CSS, and JavaScript for creating captivating front-end experiences. On the
                        back-end, I wield the power of Node.js and Express.js to build robust server applications. With
                        databases like MongoDB and MySQL, I ensure seamless data management and delivery, crafting
                        end-to-end web solutions that bring your vision to life
                    </div>

                    <ol class="percentage">
                        <li>
                            <div class="technology">
                                <img src="/sources/html-5.png" alt="" class="icons">
                                <p id="skill">HTML</p>
                            </div>
                            <div class="bar-rap">
                                <div class="main-bar">
                                    <div class="html-bar"> </div>
                                </div><span>85%</span>
                            </div>
                        </li>
                        <li id="css">
                            <div class="technology">
                                <img src="/sources/css.gif" alt="" class="icons">
                                <p id="skill">CSS</p>
                            </div>
                            <div class="bar-rap">
                                <div class="main-bar">
                                    <div class="css-bar"> </div>
                                </div><span>80%</span>
                            </div>
                        </li>
                        <li>
                            <div class="technology">
                                <img src="/sources/js.png" alt="" class="icons">
                                <p id="skill">JAVASCRIPT</p>
                            </div>
                            <div class="bar-rap">
                                <div class="main-bar">
                                    <div class="javascript-bar"> </div>
                                </div>
                                <span>85%</span>
                            </div>
                        </li>
                        <li>
                            <div class="technology">
                                <img src="/sources/nodejs.png" alt="" class="icons">
                                <p id="skill">NODEJS</p>
                            </div>
                            <div class="bar-rap">
                                <div class="main-bar">
                                    <div class="nodejs-bar"> </div>
                                </div><span>70%</span>
                            </div>
                        </li>
                        <li>
                            <div class="technology">
                                <img src="/sources/js-format.png" alt="" class="icons">
                                <p id="skill">EXPRESSJS</p>
                            </div>
                            <div class="bar-rap">
                                <div class="main-bar">
                                    <div class="expressjs-bar"> </div>
                                </div><span>80%</span>
                            </div>
                        </li>
                        <li>
                            <div class="technology">
                                <img src="/sources/file-transfer.gif" alt="" class="icons">
                                <p id="skill">MONGODB</p>
                            </div>
                            <div class="bar-rap">
                                <div class="main-bar">
                                    <div class="mongo-bar"> </div>
                                </div><span>85%</span>
                            </div>
                        </li>
                        <li>
                            <div class="technology">
                                <img src="/sources/mysql.png" alt="" class="icons">
                                <p id="skill">MYSQL</p>
                            </div>
                            <div class="bar-rap">
                                <div class="main-bar">
                                    <div class="sql-bar"> </div>
                                </div><span>80%</span>
                            </div>
                        </li>
                    </ol>
                </section>

            </div>


    </body>