
<%- include('common/header',{title:'Welcome'})%>
<link rel="stylesheet" href="/styles/home.css">
</head>
<body>
<%- include('common/loader')%>  
<%- include('common/navigation')%>

<main>
        
<%-include('common/profile')%>
    <section class="introduction">
        <div class="intro">
            <p id="name">I'm a Full Stack Web Developer</p>
             
            <p id="spec">"With a focus on professionalism and simplicity, I design and develop websites that work seamlessly"</p>
        </div>
        
        <a href="/sources/RESUME.pdf" class="download-resume" Download>Download Resume</a>
      
    </section>
</main>
</body>
</html>