<%- include('common/header',{title:'projects'})%>
<link rel="stylesheet" href="/styles/projects.css">

</head>
<body>
    <%- include('common/loader')%>  

    <%- include('common/navigation')%>
 
<main>

    
    <section class="head">
        <h1>Projects</h1>
    </section>

    <section class="projects">
        <ol>
            <li>
                <div>
                    <a href="https://venkytravelsite.onrender.com/" target="_blank"><img src="/sources/travelsite.jpg" alt="" class="project-image"></a>
                    <div>
                        <p class="title">Travel Site</p>
                        <p><a href="https://venkytravelsite.onrender.com/" class="visit" target="_blank">Visit</a></p>
                    </div>
                </div>
                    
            
            </li>
            <li>
                <div>
                    <a href="https://venky-tic-tac-toe-game.onrender.com/" target="_blank"><img src="/sources/tic_tac_toe.png" alt="" class="project-image"></a>
                    <div>
                        <p class="title">Tic_Tac_Toe Game</p>
                        <p><a href="https://venky-tic-tac-toe-game.onrender.com/" class="visit" target="_blank"> Visit</a></p>
                    </div>
                </div>
            </li>
            
        </ol>
    </section>
</main>
</body>