*{
    box-sizing: border-box;
}

main{
    display:flex;
   flex-direction:row;
   justify-content:space-between;
   margin-top:10rem;
   width:100rem;
   margin-left:7rem;
     
}
.profile{
    margin-top:3rem;
    margin-left:7rem;
     width:15rem;

    
}
#profile_bg{
    position:absolute;
    z-index:-1;
    width:30em;
    margin:1.5em 3em;

}

.profile img{
    width:20rem;
    margin:1rem 8rem;

}

.introduction{
    margin:10rem 12rem 0 9rem;
    margin-right:10rem;
    width:40rem;
    

}
#name{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2rem;
    font-weight:bolder;
    text-align:center;    
    color:rgb(127, 4, 235);

}
#spec{
    font-size:2rem;
    font-weight:bold;
    color:rgb(215, 222, 225);
    text-align:center;
}
.download-resume{
    font-style:none;
    text-decoration:none;
    position:absolute;
    margin:2rem 11rem;
    font-size:1.5rem;
    background-color: #F99417;
    padding:1rem 2rem;
    color:rgb(2, 2, 7);
    border-radius:50px;
    transition:1s ease;
    box-shadow:1px -2px -5px var(--color-gray-100);
}
.download-resume:hover{
    color:rgb(3, 3, 30);
    
    background-color: rgb(255, 78, 2);
}




/* Media Query for Laptop View */
@media (min-width:1024px){
    main{
        margin-left:7px;
        width:90rem;
        margin-top:4rem;
    }
    #profile_bg{
        margin-top:4rem;
        margin-left:7rem;
width:25rem;
    }
    .profile img{
        width:20rem;
    }
    .profile{
        margin-top:5rem;
        margin-right:6rem;
    
    }
    .introduction{
        margin-top:15rem;
        margin-left:5rem;
        margin-right:5rem;
    }

}

/* Media Query for tab view */
@media (max-width:1024px){
    main{
        flex-direction: column;
        width:50rem;
        margin:0 auto;
        margin-top:7rem;
        margin-bottom:10rem;
         
    }
    main .introduction{
        margin:0 auto;
        margin-top:10rem;

    
    }
    
}

/* Media Query for Mobile view */

@media (max-width:480px){
    
    main{
        flex-direction:column;
        padding:0;
        width:20rem;
    margin-left:-8px;

         
    }

    .profile{
        margin-top:-1rem;
margin-left:-1.6rem;
padding:0px;

        
    }
    #profile_bg{
        width:23rem;
         
    }

    
    .profile img{
        width:19rem;
        padding:0;
        margin:-1rem 3rem;
        margin-left:4rem;
        
   
    }

    
    main .introduction{
        padding:0;
        margin:0; 
        margin-top:4rem;
        margin-left:2rem;
        width:22rem;
        padding-bottom:1rem;
    }
    .download-resume{
        
    margin:0px;
    margin-top:2.3rem;
    margin-left:3.3rem;
    text-align:center;
    font-size:1.3rem;

    
        
    }

}