.head h1 {
    font-size: 3rem;
    color:rgb(140, 0, 255);
    margin-top: 9rem;
    margin-left:7rem;


}

.projects {

    margin: 5rem 20rem;

}

ol {
    display: grid;
    width: 55rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;


}

ol li {
    list-style-type: none;
    text-align: center;
    width:22rem;

}


.project-image {
    width: 22rem;

    height: 13rem;
    

}



.title {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color:rgb(140, 0, 255);;
}

.visit {

    position: absolute;
    margin-top: -12rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(1, 3, 33);
    font-weight:bold;
    background-color:rgb(236, 10, 146);
    border-radius:2px;
    padding:0.5rem 2rem;
    margin-left:-2rem;
    opacity:0;
     

     
}

ol li div:hover .visit{
    animation:rotate;
    animation-duration: 0.5s;
     
    opacity:1;
}
@keyframes rotate {
    0%{
        transform:rotate(0deg);
    }
    
    100%{
        transform:rotate(360deg);
    }

}

 
 
 




/* Media Query for laptop View */

@media (min-width:1024px){
    .projects{
        margin-top:2rem;
        margin-left:10rem;
    }
    .projects li img{
        width:23rem;
        height:13rem;
    }
    .visit{
        margin-top:-11rem;
    }
}

/* Media Query for Tab View */

@media (max-width:1024px){
    .projects ol{
    width:40rem;
        display:flex;
    flex-direction:column;
    margin:0;
    margin-left:-10rem;
    }
}

/* Media Query for mobile view */

@media (max-width:480px) {
   

    .head h1 {
        margin-top:7rem;
        margin-left:1.5rem;
    }

    .projects {
        margin:3rem 8.6rem;
        
       
    }
    .visit{
        display:none;
    }

    .projects ol {
        width: 20rem;
        display: flex;
        flex-direction: column;
    }

    .project-image {
        width: 19rem;
        height: 11rem;
    }


}
